h1 {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;

}

img {
    height: auto;
    width: 500px;
}

body {
    background-color: skyblue;
}

p {
    font-family: Helvetica, sans-serif;
}

li {
    font-family: Helvetica, sans-serif;
}

